@{
    Layout = "~/Views/Shared/_Layout-Frontend.cshtml";
    ViewBag.Title = "Home Page";
}

<section class="probootstrap-slider flexslider">
    <ul class="slides">
        <li style="background-image: url(/Content/FrontImages/VillaMouzinha_Slide_01.jpg);" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="probootstrap-slider-text text-center">
                            <p><img src="/Content/FrontImages/curve_white.svg" class="seperator probootstrap-animate" alt="APARTMENTS & SUITES"></p>
                            <h1 class="probootstrap-heading probootstrap-animate">APARTMENTS & SUITES</h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li style="background-image: url(/Content/FrontImages/VillaMouzinha_Slide_02.jpg);" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="probootstrap-slider-text text-center">
                            <p><img src="/Content/FrontImages/curve_white.svg" class="seperator probootstrap-animate" alt="APARTMENTS & SUITES"></p>
                            <h1 class="probootstrap-heading probootstrap-animate">APARTMENTS & SUITES</h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li style="background-image: url(/Content/FrontImages/VillaMouzinha_Slide_03.jpg);" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="probootstrap-slider-text text-center">
                            <p><img src="/Content/FrontImages/curve_white.svg" class="seperator probootstrap-animate" alt="APARTMENTS & SUITES"></p>
                            <h1 class="probootstrap-heading probootstrap-animate">APARTMENTS & SUITES</h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li style="background-image: url(/Content/FrontImages/VillaMouzinha_Slide_04.jpg);" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="probootstrap-slider-text text-center">
                            <p><img src="/Content/FrontImages/curve_white.svg" class="seperator probootstrap-animate" alt="APARTMENTS & SUITES"></p>
                            <h1 class="probootstrap-heading probootstrap-animate">APARTMENTS & SUITES</h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li style="background-image: url(/Content/FrontImages/VillaMouzinha_Slide_05.jpg);" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="probootstrap-slider-text text-center">
                            <p><img src="/Content/FrontImages/curve_white.svg" class="seperator probootstrap-animate" alt="APARTMENTS & SUITES"></p>
                            <h1 class="probootstrap-heading probootstrap-animate">APARTMENTS & SUITES</h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li style="background-image: url(/Content/FrontImages/VillaMouzinha_Slide_06.jpg);" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="probootstrap-slider-text text-center">
                            <p><img src="/Content/FrontImages/curve_white.svg" class="seperator probootstrap-animate" alt="APARTMENTS & SUITES"></p>
                            <h1 class="probootstrap-heading probootstrap-animate">APARTMENTS & SUITES</h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li style="background-image: url(/Content/FrontImages/VillaMouzinha_Slide_07.jpg);" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="probootstrap-slider-text text-center">
                            <p><img src="/Content/FrontImages/curve_white.svg" class="seperator probootstrap-animate" alt="APARTMENTS & SUITES"></p>
                            <h1 class="probootstrap-heading probootstrap-animate">APARTMENTS & SUITES</h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>

<div id="colorlib-reservation">
    <div class="container">
        <div class="row">
            <div class="col-md-12 search-wrap">
                <form method="post" class="colorlib-form">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="date">Check-in:</label>
                                <div class="form-field">
                                    <i class="icon icon-calendar2"></i>
                                    <input type="text" id="date" class="form-control date" placeholder="Check-in">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="date">Check-out:</label>
                                <div class="form-field">
                                    <i class="icon icon-calendar2"></i>
                                    <input type="text" id="date" class="form-control date" placeholder="Check-out">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="adults">Adultos</label>
                                <div class="form-field">
                                    <i class="icon icon-arrow-down3"></i>
                                    <select name="people" id="people" class="form-control">
                                        <option value="#">1</option>
                                        <option value="#">2</option>
                                        <option value="#">3</option>
                                        <option value="#">4</option>
                                        <option value="#">5+</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="children">Crianças</label>
                                <div class="form-field">
                                    <i class="icon icon-arrow-down3"></i>
                                    <select name="people" id="people" class="form-control">
                                        <option value="#">1</option>
                                        <option value="#">2</option>
                                        <option value="#">3</option>
                                        <option value="#">4</option>
                                        <option value="#">5+</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <a href="/Home/Quartos" class="btn btn-primary btn-block">Reservar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<section class="probootstrap-section">
    <div class="container">
        <div class="row mb30">
            <div class="col-md-8 col-md-offset-2 probootstrap-section-heading text-center">
                <h2>Explore os nossos serviços</h2>
                <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p><img src="/Content/FrontImages/curve.svg" class="svg" alt="Free HTML5 Bootstrap Template"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service left-icon">
                    <div class="icon">
                        <img src="/Content/FrontImages/flaticon/svg/001-building.svg" class="svg" alt="Free HTML5 Bootstrap Template by uicookies.com">
                    </div>
                    <div class="text">
                        <h3>Apartments & Suites</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p><a href="#" class="link-with-icon">Saber mais <i class=" icon-chevron-right"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service left-icon">
                    <div class="icon">
                        <img src="/Content/FrontImages/bicycle.svg" class="svg" alt="Free HTML5 Bootstrap Template by uicookies.com">
                    </div>
                    <div class="text">
                        <h3>Rent a E-Bike</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p><a href="#" class="link-with-icon">Saber mais <i class=" icon-chevron-right"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service left-icon">
                    <div class="icon">
                        <img src="/Content/FrontImages/bus.svg" class="svg" alt="Free HTML5 Bootstrap Template by uicookies.com">
                    </div>
                    <div class="text">
                        <h3>Transfer</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p><a href="#" class="link-with-icon">Saber mais <i class=" icon-chevron-right"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="probootstrap-section probootstrap-section-dark">
    <div class="container">
        <div class="row mb30">
            <div class="col-md-8 col-md-offset-2 probootstrap-section-heading text-center">
                <h2>Os melhores quartos</h2>
                <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p><img src="/Content/FrontImages/curve.svg" class="svg" alt="Free HTML5 Bootstrap Template"></p>
            </div>
        </div>
        <div class="row probootstrap-gutter10">
            <div class="col-md-6">
                <div class="probootstrap-block-image-text">
                    <figure>
                        <a href="/Content/FrontImages/img_1.jpg" class="image-popup">
                            <img src="/Content/FrontImages/img_1.jpg" alt="Free HTML5 Bootstrap Template by uicookies.com" class="img-responsive">
                        </a>
                        <div class="actions">
                            <a href="https://vimeo.com/45830194" class="popup-vimeo"><i class="icon-play2"></i></a>
                        </div>
                    </figure>
                    <div class="text">
                        <h3><a href="#">Suite Dª Antónia</a></h3>
                        <div class="post-meta">
                            <ul>
                                <li><span class="review-rate">4.7</span> <i class="icon-star"></i> 252 Avaliações</li>
                            </ul>
                        </div>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p><a href="#" class="btn btn-primary">Reserve agora desde €109</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="probootstrap-block-image-text">
                    <figure>
                        <a href="/Content/FrontImages/img_2.jpg" class="image-popup">
                            <img src="/Content/FrontImages/img_2.jpg" alt="Free HTML5 Bootstrap Template by uicookies.com" class="img-responsive">
                        </a>
                        <div class="actions">
                            <a href="https://vimeo.com/45830194" class="popup-vimeo"><i class="icon-play2"></i></a>
                        </div>
                    </figure>
                    <div class="text">
                        <h3><a href="#">Suite Nicolau Nasoni</a></h3>
                        <div class="post-meta">
                            <ul>
                                <li><span class="review-rate">4.9</span> <i class="icon-star"></i> 122 Avaliações</li>
                            </ul>
                        </div>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p><a href="#" class="btn btn-primary">Reserve agora desde €150</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="probootstrap-half">
    <div class="image" style="background-image: url('/Content/FrontImages/VillaMouzinha_Slide_01.jpg');"></div>
    <div class="text">
        <div class="probootstrap-animate fadeInUp probootstrap-animated">
            <h2 class="mt0">Fique no coração de Porto</h2>
            <p><img src="/Content/FrontImages/curve_white.svg" class="seperator" alt="Free HTML5 Bootstrap Template"></p>
            <div class="row">
                <div class="col-md-6">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
                <div class="col-md-6">
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
            </div>
            <p><a href="#" class="link-with-icon white">Saber mais <i class=" icon-chevron-right"></i></a></p>
        </div>
    </div>
</section>