@{
    Layout = "~/Views/Shared/_Layout-Frontend.cshtml";
    ViewBag.Title = "Home Page";
}

<section class="probootstrap-slider flexslider probootstrap-inner">
    <ul class="slides">
        <li style="background-image: url('/Content/FrontImages/VillaMouzinha_Slide_02.jpg');" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="probootstrap-slider-text text-center">
                            <p><img src="~/Content/FrontImages/curve_white.svg" class="seperator probootstrap-animate" alt="Free HTML5 Bootstrap Template"></p>
                            <h1 class="probootstrap-heading probootstrap-animate">Conheça os nossos quartos</h1>
                            <div class="probootstrap-animate probootstrap-sub-wrap">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>

<section class="probootstrap-section">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="probootstrap-room">
                <a href="#"><img src="~/Content/FrontImages/VillaMouzinha_Quartos_01.jpg" alt="" class="img-responsive"></a>
                <div class="text">
                    <h3>Suite Dª Antónia</h3>
                    <p>Desde <strong>€44.90/Noite</strong></p>
                    <div class="post-meta mb30">
                        <ul>
                            <li><span class="review-rate">4.7</span> <i class="icon-star"></i> 12 Avaliações</li>
                        </ul>
                    </div>
                    <p><a href="/Home/Reserva" class="btn btn-primary" role="button">Reserve agora por €44.90</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="probootstrap-room">
                <a href="#"><img src="~/Content/FrontImages/VillaMouzinha_Quartos_02.2.jpg" alt="" class="img-responsive"></a>
                <div class="text">
                    <h3>Suite Almeida Garret</h3>
                    <p>Desde <strong>€80.00/Noite</strong></p>
                    <div class="post-meta mb30">
                        <ul>
                            <li><span class="review-rate">4.7</span> <i class="icon-star"></i> 123 Avaliações</li>
                        </ul>
                    </div>
                    <p><a href="/Home/Reserva" class="btn btn-primary" role="button">Reserve agora por €80.00</a></p>
                </div>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="probootstrap-room">
                <a href="#"><img src="~/Content/FrontImages/VillaMouzinha_Quartos_03.jpg" alt="" class="img-responsive"></a>
                <div class="text">
                    <h3>Suite Infante D. Henrique</h3>
                    <p>Desde <strong>€89.00/Noite</strong></p>
                    <div class="post-meta mb30">
                        <ul>
                            <li><span class="review-rate">4.7</span> <i class="icon-star"></i> 323 Avaliações</li>
                        </ul>
                    </div>
                    <p><a href="/Home/Reserva" class="btn btn-primary" role="button">Reserve agora por €89.00</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="probootstrap-room">
                <a href="#"><img src="~/Content/FrontImages/VillaMouzinha_Quartos_04.jpg" alt="" class="img-responsive"></a>
                <div class="text">
                    <h3>Suite Manoel Oliveira</h3>
                    <p>Desde <strong>€120.00/Noite</strong></p>
                    <div class="post-meta mb30">
                        <ul>
                            <li><span class="review-rate">4.7</span> <i class="icon-star"></i> 456 Avaliações</li>
                        </ul>
                    </div>
                    <p><a href="/Home/Reserva" class="btn btn-primary" role="button">Reserve agora por €120.00</a></p>
                </div>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="probootstrap-room">
                <a href="#"><img src="~/Content/FrontImages/VillaMouzinha_Quartos_05.jpg" alt="" class="img-responsive"></a>
                <div class="text">
                    <h3>Suite Mouzinho da Silveira</h3>
                    <p>Desde <strong>€200.00/Noite</strong></p>
                    <div class="post-meta mb30">
                        <ul>
                            <li><span class="review-rate">4.7</span> <i class="icon-star"></i> 22 Avaliações</li>
                        </ul>
                    </div>
                    <p><a href="/Home/Reserva" class="btn btn-primary" role="button">Reserve agora por €200.00</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="probootstrap-room">
                <a href="#"><img src="~/Content/FrontImages/VillaMouzinha_Quartos_06.jpg" alt="" class="img-responsive"></a>
                <div class="text">
                    <h3>Suite Nicolau Nasoni</h3>
                    <p>Desde <strong>€220.00/Noite</strong></p>
                    <div class="post-meta mb30">
                        <ul>
                            <li><span class="review-rate">4.7</span> <i class="icon-star"></i> 252 Avaliações</li>
                        </ul>
                    </div>
                    <p><a href="/Home/Reserva" class="btn btn-primary" role="button">Reserve agora por €220.00</a></p>
                </div>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
    </div>
</div>
  </section>

<section class="probootstrap-half">
    <div class="image" style="background-image: url('/Content/FrontImages/VillaMouzinha_Slide_01.jpg');"></div>
    <div class="text">
        <div class="probootstrap-animate fadeInUp probootstrap-animated">
            <h2 class="mt0">Fique no coração de Porto</h2>
            <p><img src="/Content/FrontImages/curve_white.svg" class="seperator" alt="Free HTML5 Bootstrap Template"></p>
            <div class="row">
                <div class="col-md-6">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
                <div class="col-md-6">
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
            </div>
            <p><a href="#" class="link-with-icon white">Saber mais <i class=" icon-chevron-right"></i></a></p>
        </div>
    </div>
</section>