@{
    Layout = "~/Views/Shared/_Layout-Frontend.cshtml";
    ViewBag.Title = "Home Page";
}

<section class="probootstrap-slider flexslider probootstrap-inner">
    <ul class="slides">
        <li style="background-image: url('/Content/FrontImages/VillaMouzinha_Slide_02.jpg');" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="probootstrap-slider-text text-center">
                            <p><img src="~/Content/FrontImages/curve_white.svg" class="seperator probootstrap-animate" alt="Free HTML5 Bootstrap Template"></p>
                            <h1 class="probootstrap-heading probootstrap-animate">Conheça os nossos quartos</h1>
                            <div class="probootstrap-animate probootstrap-sub-wrap">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>

<section class="probootstrap-section">
    <div class="container">
        <div class="row probootstrap-gutter40">
            <div class="col-md-8">
                <h2 class="mt0">Reserva</h2>
                <form action="#" method="post" class="probootstrap-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fname">Primeiro Nome</label>
                                <input type="text" class="form-control" id="fname" name="fname">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lname">Último Nome</label>
                                <input type="text" class="form-control" id="lname" name="lname">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <div class="form-field">
                            <i class="icon icon-mail"></i>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="room">Quarto</label>
                        <div class="form-field">
                            <i class="icon icon-chevron-down"></i>
                            <select name="room" id="room" class="form-control">
                                <option value="">Seleccione um quarto</option>
                                <option>Suite Dª Antónia</option>
                                <option>Suite Almeida Garret</option>
                                <option>Suite Infante D. Henrique</option>
                                <option>Suite Manoel Oliveira</option>
                                <option>Suite Mouzinho da Silveira</option>
                                <option>Suite Nicolau Nasoni</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="date-arrival">Partida</label>
                                <div class="form-field">
                                    <i class="icon icon-calendar2"></i>
                                    <input type="text" class="form-control" id="date-arrival" name="date-arrival">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="date-departure">Chegada</label>
                                <div class="form-field">
                                    <i class="icon icon-calendar2"></i>
                                    <input type="text" class="form-control" id="date-departure" name="date-departure">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb30">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="adults">Adultos</label>
                                <div class="form-field">
                                    <i class="icon icon-chevron-down"></i>
                                    <select name="adults" id="adults" class="form-control">
                                        <option value="">Número de adultos</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4+</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="children">Crianças</label>
                                <div class="form-field">
                                    <i class="icon icon-chevron-down"></i>
                                    <select name="children" id="children" class="form-control">
                                        <option value="">Número de crianças</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4+</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-lg" id="submit" name="submit" value="Reservar">
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h2 class="mt0">Feedback</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p><a href="#" class="btn btn-primary" role="button">Enviar mensagem</a></p>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-half">
    <div class="image" style="background-image: url('/Content/FrontImages/VillaMouzinha_Slide_01.jpg');"></div>
    <div class="text">
        <div class="probootstrap-animate fadeInUp probootstrap-animated">
            <h2 class="mt0">Fique no coração de Porto</h2>
            <p><img src="/Content/FrontImages/curve_white.svg" class="seperator" alt="Free HTML5 Bootstrap Template"></p>
            <div class="row">
                <div class="col-md-6">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
                <div class="col-md-6">
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
            </div>
            <p><a href="#" class="link-with-icon white">Saber mais <i class=" icon-chevron-right"></i></a></p>
        </div>
    </div>
</section>