@{
    Layout = "~/Views/Shared/_Layout-Backoffice.cshtml";
}

<!-- page title area end -->
<div class="main-content-inner">
@using (Html.BeginForm("CreateAttribute", "Board", FormMethod.Post, new { role = "form", @id = "mainform" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-6 col-ml-12">
            <div class="row">
                <!-- Textual inputs start -->
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Novo atributo</h4>
                            <p class="text-muted font-14 mb-4">Adicione novo atributo e os respectivos valores</p>
                            <div class="form-group">
                                <label for="example-text-input" class="col-form-label">Nome</label>
                                <input class="form-control" type="text" required id="name" name="name">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-ml-12">
            <div class="row">
                <!-- basic form start -->
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title" style="text-transform:inherit !important;">Valores do atributo</h4>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="example-text-input" class="col-form-label">Valor 1</label>
                                        <input class="form-control" required type="text" value="" id="value1" name="value1">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="example-text-input" class="col-form-label">Descrição 1</label>
                                        <input class="form-control" type="text" value="" id="description1" name="description1">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="example-text-input" class="col-form-label">Valor 2</label>
                                        <input class="form-control" required type="text" value="" id="value2" name="value2">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="example-text-input" class="col-form-label">Descrição 2</label>
                                        <input class="form-control" type="text" value="" id="description2" name="description2">
                                    </div>
                                </div>
                                <div class="col-12 text-right" style="margin-top:1.5rem;">
                                    <button class="btn btn-primary">Criar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</div>


