@{
    Layout = "~/Views/Shared/_Layout-Backoffice.cshtml";
}

<style>
    select {
        height: calc(2.25rem + 8px) !important;
    }
    .border-mandatory {
        border:1px solid red !important;
    }
</style>

<form class="main-content-inner" id="create-page-form">
    <div class="row">
        <div class="col-lg-5 col-ml-12">
            <div class="row">
                <!-- Textual inputs start -->
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Criar Página</h4>
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="example-text-input" class="col-form-label">Língua</label>
                                        <input type="text" class="form-control" name="page-header-language" id="page-header-language" value="/pt" readonly />
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="example-text-input" class="col-form-label">Estado&nbsp;<span class="text-danger">*</span></label>
                                        <select class="form-control required" name="page-header-status" id="page-header-status">
                                            <option value="null" disabled selected>Seleccione estado</option>
                                            <option value="1">Rascunho</option>
                                            <option value="2">Publicado</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="example-text-input" class="col-form-label">Tipo&nbsp;<span class="text-danger">*</span></label>
                                        <select class="form-control required" name="page-header-type" id="page-header-type">
                                            <option value="null" disabled selected>Seleccione tipo</option>
                                            <option value="1">Artigo</option>
                                            <option value="2">Blog</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="col-form-label">Título&nbsp;<span class="text-danger">*</span></label>
                                <input type="text" class="form-control required" name="page-header-title" id="page-header-title" />
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="col-form-label">URL Friendly&nbsp;<span class="text-danger">*</span></label>
                                <input type="text" class="form-control required" name="page-header-url" id="page-header-url" readonly />
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="col-form-label">Localização&nbsp;<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" readonly name="page-header-location" id="page-header-location" />
                            </div>
                        </div>
                    </div>
                    <div class="card" style="margin-top:2rem;">
                        <div class="card-body">
                            <h4 class="header-title" style="text-transform:none;">Módulo de conteúdos</h4>
                            <div class="alert alert-primary" style="cursor:pointer;" role="alert" onclick="addModule(1)">
                                <h5><i class="fa fa-align-justify" style="vertical-align:middle;"></i>&nbsp;&nbsp;<small>Adicionar módulo conteúdo livre</small></h5>
                            </div>
                            <div class="alert alert-primary" style="cursor:pointer;" role="alert" onclick="addModule(2)">
                                <h5><i class="fa fa-bed" style="vertical-align:middle;"></i>&nbsp;&nbsp;<small>Adicionar módulo quarto</small></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-ml-12">
            <div class="row mt-5" id="page-module-wrapper">
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-9 text-left">
                                    <h4 class="header-title" style="text-transform:none;">Para adicionar conteúdos escolha nos módulos disponíveis</h4>
                                </div>
                                <div class="col-12 col-md-3 text-right">
                                    <button type="submit" id="submitPage" class="btn btn-primary">Criar página</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $('#page-header-title').keyup(function () {
        $.get('/Board/CreateUrlFriendly?title=' + $(this).val(), function (response) {
            $('#page-header-url').val("/" + response);
        });
    });

    function addModule(id) {
        $.get('/Board/GetModule?id=' + id, function (response) {
            $('#page-module-wrapper').append(response);
        });
    }

    $('#create-page-form').validate({
        submitHandler: function (form) {
            var request = {
                pageHeader: {
                    status: $('#page-header-status').val(),
                    type: $('#page-header-type').val(),
                    title: $('#page-header-title').val(),
                    url: $('#page-header-url').val(),
                    location: $('#page-header-location').val()
                },
                modules: []
            };

            var contentModules = $('.content-module');
            for (var i = 0; i < contentModules.length; i++) {
                var file = $(contentModules[i]).find('.file');
                var module = {
                    type: 'content-module',
                    title: $(contentModules[i]).find('.title').val(),
                    description: $(contentModules[i]).find('.ql-editor').html(),
                    image: file.attr('blob'),
                    imageName: file.attr('imageName')
                };

                if (module.description == "<p><br></p>") {
                    toastr.error('Preencha o conteúdo');
                    $(contentModules[i]).find('.ql-editor').parent().addClass('border-mandatory');
                    $('html, body').animate({
                        scrollTop: $(contentModules[i]).find('.ql-editor').offset().top - 50
                    });
                    return;
                } else {
                    $(contentModules[i]).find('.ql-editor').parent().removeClass('border-mandatory');
                }

                request.modules.push(module);
            }

            $('#submitPage').attr('disabled', 'disabled');
            $.post('/Board/CreatePage', { model: request }, function (response) {
                if (response.result == 'ok') {
                    toastr.success('Página criada com sucesso');
                } else if (response.result == 'error-url') {
                    toastr.error('Já existe uma página na mesma localização com o mesmo nome.');
                }
            });

            return false;
            //form.submit();
        }
    });
</script>