<div class="col-12 content-module" style="margin-bottom:2rem;" id="content-module-@ViewBag.RefModule">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title" style="text-transform:inherit !important;">Módulo conteúdo livre</h4>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="example-text-input" class="col-form-label">Título&nbsp;<span class="text-danger">*</span></label>
                        <input type="text" class="form-control required title" name="content-module-title-@ViewBag.RefModule" />
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group m-b-d">
                        <label>Conteúdo&nbsp;<span class="text-danger">*</span></label>
                        <div id="toolbar"></div>
                        <div class="editor" id="edit-@ViewBag.RefModule"></div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="col-form-label">Imagem</label>
                        <input type="file" class="form-control" name="content-module-file-@ViewBag.RefModule"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .ql-editor {
        height: 17rem;
    }
</style>
<script>
    var quill = new Quill('#edit-@ViewBag.RefModule', {
        modules: {
            toolbar: toolbarOptions
        },
        theme: 'snow'
    });
</script>